---
layout: default
---

p Пока накидаю ссылочек, которые потом запихну в профиль:
    h3 Для нанимателей
    ul
              li
                | Резюме с ресурса
                a(href='http://resumup.com/me/250637') ResumUP
                | (
                a(href='personal/Nabrodov_Alexey_ResumUP.pdf') PDF
              | )
              li
                | Резюме с ресурса
                a(href='http://www.superjob.ru/resume/cv-5953861.html') SuperJob
                | (
                a(href='personal/Nabrodov_Alexey_SuperJob.pdf') PDF
                | )
              li
                | Профиль на Github:
                a(href='http://github.com/averrin') Averrin
              li
                | Профиль на Brainstorage:
                a(href='http://brainstorage.me/Averrin') Averrin
    h3 Прочее
    ul
              li
                a(href='https://plus.google.com/109244230201330822611/about') Google Plus
              li
                | Когда-то я даже пытался рисовать:
                a(href='http://averrin.deviantart.com/') DeviantART
